@use 'sass:color';
$p-green: #cce8cc;
$p-white: #f6efee;
$p-purple-1: #e2b6cf;
$p-purple-2: #e396df;
$p-purple-3: #e365c1;

$c-lg: #E3E3E3;
$c-mg1: #A2A2A2;
$c-mg2: #808080;
$c-dg: #5E5E5E;
$c-dg2: #3A3A3A;

@function hexToRGB($hex){
  @return red($hex), green($hex), blue($hex);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6{
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem;
  @media screen and (max-width: 576px) {
    margin-bottom: 1rem;
  }
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.75rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.25rem;
}
h6{
  font-size: 1.1rem;
}

@mixin button-green($btn-color1, $btn-color2){
  color: $btn-color1;
  background-color: $btn-color2;
  font-weight: 500;
  &:hover{
    color: color.scale($btn-color1, $lightness: +10%, $saturation: 10%);;
    background-color: color.scale($btn-color2, $lightness: -10%, $saturation: 10%);
    box-shadow: 0 0 15px 6px $p-white;
    transition: all 0.3s ease-in-out;
  }
}

.button-green{
  @include button-green($p-green, $p-purple-2);
}
.button-green-reverse{
  @include button-green($p-purple-3, $p-green);
}

.cursor-pointer{
  cursor: pointer;
}

body{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: $p-green;
  background-image: url("../static/bg-bun.png");
  background-position-x: center;

  .navbar{
    background: rgba($p-purple-1, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-size: 1.25rem;
    .navbar-brand{
      .navbar-brand-text{
        position: relative;
        line-height: 1;
        &::before{
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: $p-purple-3;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }
      }
      &:hover{
        .navbar-brand-text::before{
          transform: scaleX(1);
        }
      }
    }
    .nav-item{
      text-align: center;
      @media screen and (max-width: 992px){
        margin: 0.5rem 0;
      }
      .nav-link{
        position: relative;
        line-height: 1;
        &::before{
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: $p-purple-3;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }
        &:hover::before{
          transform: scaleX(1);
        }
      }
    }
  }
  section, footer{
    scroll-margin-top: 4.75rem;
  }
  section {
    &:nth-child(even) > .container {
      background-color: $p-purple-3;
    }
    &:nth-child(odd) > .container {
      background-color: $p-purple-2;
    }
    &:first-of-type > .container {
      box-shadow: 0 10px 20px 15px $p-purple-1;
    }
    & > .container {
      color: $p-white;
      box-shadow: 0 30px 20px 15px $p-purple-1;
    }
    .container{
      padding: 3rem 2rem;
      @media screen and (max-width: 576px){
        padding: 1.5rem 0.75rem;
      }
    }
    .row{
      .img-cute-border{
        border: 10px solid $p-white;
        border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
      }
    }
    #bunnyCarousel{
      .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 4rem;
        width: 4rem;
      }
    }
    .bun-list{
      list-style: georgian inside url("../static/bun-list.png");
      li{
        font-size: 1.25rem;
        &:not(:last-of-type){
          padding-bottom: 0.5rem;
        }
      }
    }
    form{
      max-width: 30rem;
      background-color: $p-green;
      border-radius: 1.5rem;
      font-size: 1.25rem;
      padding: 2rem 3rem;
      color: $c-dg2;
      box-shadow: 10px 10px 15px 10px $c-dg;
      @media screen and (max-width: 576px){
        font-size: 1rem;
        padding: 2rem 2rem;
      }
      @media screen and (max-width: 500px){
        box-shadow: 0 10px 30px 10px $c-dg;
      }
      .input-wrapper{
        display: flex;
        flex-flow: column;
        justify-content: left;
        textarea{
          height: 5rem;
        }
        input[type="text"], textarea{
          min-width: 22.5rem;
          border-radius: 0.5rem;
          border: 0 solid;
          padding: 0.25rem 0.5rem;
          @media screen and (max-width: 576px){
            min-width: unset;
            width: 100%;
          }
        }
        input[type="checkbox"]{
          width: 1.5rem;
          height: 1.5rem;
          display: grid;
          place-content: center;
          appearance: none;
          background-color: #fff;
          margin: 0;
          border: 2px solid $p-purple-2;
          &::before{
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            transform: scale(0);
            transition: 0.15s transform ease-in-out;
            box-shadow: inset 1.25rem 1.25rem $p-purple-2;
          }
          &:checked::before{
            transform: scale(1);
          }
        }
        input[type="submit"]{
          color: $white;
          border-radius: 0.5rem;
          border: 0;
          padding: 0.25rem 1rem;
        }
      }
    }
  }

  footer{
    background: rgba($p-purple-1, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

}